**/node_modules/
**/.expo/
**/android/build/
**/android/app/build/
**/ios/build/
build/
dist/
web-build/
.git/
.vscode/
.idea/
*.apk
*.aab
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
# Huge binary or data files
*.zip
*.tar.gz
*.mp4
*.MOV
